<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <title>this is da page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
</head>

<body>
    <%- include('../partials/navbar', {action:"logout"}) %>
    <div id="content">


        <h1 id="survey_title"><%= survey.title %></h1>
        <p id="survey_info"><%= survey.info %></p>

        <h1 id="question_header">Answer These Questions below</h1>
        <form action="/userhome/survey/<%= survey.survey_id %>" method="POST"
            enctype='application/x-www-form-urlencoded' id="main_resp">
            <% for ( each_ques of questions) { %>
            <% qnum = each_ques.ques_order_num %>

            <fieldset name="<%= qnum %>" id="<%= qnum %>" style="display: none">
                <h3 class="ques_title"><%= each_ques.title %></h3>
                <h3 class="ques_info"><%= each_ques.info %></h3>
                <input type="text" name="<%=qnum%>_id" value="<%= each_ques.ques_id%>" style="display: none">



                <% if (qtypes[each_ques.ques_type_id].has_file) { %>
                <% filenum = 1 %>
                <a class="file_link" id="<%=qnum%>_file_<%=filenum%>" href="/files/<%=filenum%>">File Link Here</a><br>
                <% } %>




                <% if (qtypes[each_ques.ques_type_id].has_text) { %>
                <textarea class="resp_text" name="<%=qnum%>_text"></textarea>
                <% } %>
                <% if (qtypes[each_ques.ques_type_id].has_options) { %>
                <div class="opts_cont">
                    <% for (each_opt of each_ques.options) { %>
                    <% opnum = each_opt.id %>
                    <% if (each_opt.text_associated == 1) { %>
                    <input type="radio" name="<%=qnum%>_opt" value="<%= opnum %>" class="text"> <%= each_opt.label %>:
                    <input type="text" name="<%=qnum%>_opt_text">
                    <% } else { %>
                    <input type="radio" name="<%=qnum%>_opt" value="<%= opnum %>" class="no_text"> <%= each_opt.label %>
                    <% } %>
                    <% } %>
                </div>
                <% } %>
            </fieldset>

            <% } %>
            <input type="submit" value="Submit">
            <button type="button" id="next_ques">Next Question</button>
        </form>

    </div>
    <script>
        var surv_size;
        var ques_counter;

        // this fucntion will hide the last question and show the next ques when the user clicks the button
        function show_next_ques() {
            // hide the last question and we add the input feild with the time-end

            time_end = `<input type="text" name="${ques_counter}_time_end" value="${moment().format('YYYY-MM-DD HH:mm:ss')}" style="display: none">`;
            $(`#${ques_counter}`).append(time_end);
            $(`#${ques_counter}`).hide();
            // increase the ques counter and use the new value to add the time start for the new ques and make it visible to the user
            ques_counter += 1;
            $(`#${ques_counter}`).show();
            time_start = `<input type="text" name="${ques_counter}_time_start" value="${moment().format('YYYY-MM-DD HH:mm:ss')}" style="display: none">`;
            $(`#${ques_counter}`).prepend(time_start);

        }

        $(document).ready(function () {
            surv_size = $("#main_resp").children().length;
            ques_counter = 0;
            // show the first question and also add the time start
            time_start = `<input type="text" name="${ques_counter}_time_start" value="${moment().format('YYYY-MM-DD HH:mm:ss')}" style="display: none">`;
            $(`#${ques_counter}`).prepend(time_start);
            $(`#${ques_counter}`).show();

            $("#next_ques").click(function () {
                show_next_ques();
            })

            $("#main_resp").submit(function (event) {
                // so we will just add the last end time for te last question of the survey
                time_end = `<input type="text" name="${ques_counter}_time_end" value="${moment().format('YYYY-MM-DD HH:mm:ss')}" style="display: none">`;
                $(`#${ques_counter}`).append(time_end);
            })

        })

    </script>
</body>

</html>