<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <link rel="stylesheet" href="/css/widgets.css">
    <title>this is da page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        #survey_data{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 10 10 10px;
            margin-bottom: 10px;
        }

        .each_ques{
            border: 1.5px solid black;
            display: flex;
            flex-direction: column;
            padding: 10px;
            margin: 0 8 10 8px;
            border-radius: 5px;
            transition: box-shadow 0.35s ease;
            text-decoration: none;
        }

        .ques_side{
            display: flex;
            justify-content: space-around;
        }

        .action_btn {
            font-weight: 500;
            margin: 7px;
            font-size: 1.2vmax
        }
    </style>
</head>

<body>
        <%- include('../partials/navbar', {action:"logout", home:"adminhome"}) %>
        <div id="content">
    
            

    <div id="form_wrap">

        <form action="/adminhome/study/<%= study_id %>/create_survey" method="POST"
            enctype='application/x-www-form-urlencoded'>
            <h2 class="sub-header">Survey Info</h2>
            <fieldset name="survey_data" id="survey_data">
                <legend>Enter the Survey related info Here</legend>
                <span class="label">Survey Title:&nbsp;<input type="text" name="surv_title" id="surv_title"></span>
                <br>
                <div style="display: flex; flex-direction: row; align-items:center">
                <span class="label">Survey Info:&nbsp;</span><textarea name="surv_info" id="surv_info"></textarea>
            </div>
            </fieldset>
            <h2 class="sub-header">Create Questions</h2>
            <br>
            <div name="questions" id="questions">
                

            </div>
            <input type="submit" value="Submit" class="action_btn">
            <button type="button" id="reset_survey" class="action_btn">Reset</button>
        </form>

        <!-- this form is separate from the actualy survey cration form and is only used for creating a ques,
        i need to make a separate form bcz i need to value of the qtype_dropdown which comes with form submission -->
        <form id="create_ques">
            New Ques Type:
            <select name="qtype_dropdown" id="qtype_dropdown">
                <option value="0">--</option>
                <% for (const row of ques_types_query) { %>
                <option value="<%= row.ques_type_id %>"><%= row.label %></option>
                <% } %>
            </select>
            <br><br>
            <input type="submit" value="Create New Ques" class="action_btn">
        </form>
    </div>
    </div>


    <script>
        // define a var to keep track of how many question we have created for this survey
        // and how many options we have created for a question
        qnum = 0;
        opnum = 0;
        // this variable is to track the state if there is an open/unsaved ques or not
        unsaved_ques = false;
        // lets first grab the query result that was given to us when the template was rendered
        ques_types = <%- JSON.stringify(ques_types_query) %>;

        // required when using jquery and also so we dont mess things up
        $(document).ready(function () {

            // this is the handler for the button that will let the user reset the form if they make a mistake
            $("#reset_survey").click(function () {
                location.reload();
            });

            // this handler will be used to create a question template for the user to fill out
            // this is an intercepter to the default form submit event which is a post request
            $("#create_ques").submit(function (event) {
                // here check to make sure that there are no open questions before we let user make another question
                if (unsaved_ques) {
                    alert("save the previous question before making the next one");
                    event.preventDefault();
                    return;
                }
                // we get which type of question we need to create then render the question template accordingly
                form_data = $(this).serializeArray();
                // now we use the id value we have from the form submission to get additional
                // data from the saved query result we need to render the question
                var show_text, show_options, show_file;
                for (const row of ques_types) {
                    if (form_data[0].value == row.ques_type_id) {
                        show_text = row.has_text;
                        show_options = row.has_options;
                        show_file = row.has_file;
                    };
                };
                // fill in the question creation template with the current values of these variables
                ques_template = `<fieldset name="${qnum}" class="each_ques">
                        <legend>Question ${qnum}</legend>
                    <div class="ques_side">
                        <input type="text" name="${qnum + '_type_id'}" id="${qnum + '_type_id'}" value="${form_data[0].value}">
                        Question text: <input type="text" name="${qnum + '_title'}" id="${qnum + '_title'}">
                        Question info: <textarea name="${qnum + '_info'}" id="${qnum + '_info'}"></textarea>
                        <div id="${qnum + '_file'}">
                            Question count:&nbsp;<input type="text" name="${qnum + '_count'}" id="${qnum + '_count'}" placeholder="# or distribute"><br>
                            <a href="#">File Link Here</a><br>
                        </div>
                        </div>
                        <div class="ans_side">
                        <span id="${qnum + '_text'}">open ended response: <textarea disabled></textarea></span>
                        <ul id="${qnum + '_opts'}">
                            <button type="button" id="create_opts" >Create New Option</button>
                            <button type="button" id="create_text_opts" >Create Text Entry Option</button>
                        </ul>
                        <!-- this extra save button will stop the question from being editable anymore
                            and it will also make the create option button and itself dissappear for this question-->
                            <button type="button" id="save_ques" >Save Question</button>
                        </div>
                    </fieldset>`;
                // append the question creation template to the questions feild inside the form
                $("#questions").append(ques_template);
                // after adding the default template, we use the settings we found earlier so only show what is
                // applicable for this type of question
                if (!show_file) {
                    // if the question, doesnt have a file attach then the count defaults to one
                    $(`#${qnum + '_count'}`).val(1);
                    $(`#${qnum + '_file'}`).hide();
                }
                if (!show_text) { $(`#${qnum + '_text'}`).hide(); }
                if (!show_options) { $(`#${qnum + '_opts'}`).hide(); }
                // and we also wanna always hide the type if from the user because it doesnt concern them
                $(`#${qnum + '_type_id'}`).hide();
                // set the question state tracking variable
                unsaved_ques = true;

                event.preventDefault();
            });

            $(document).on('click', "#save_ques", function () {
                // remove the button to add more options
                $("#create_opts").remove();
                $("#create_text_opts").remove();
                // disable all the other input fields
                $(`#${qnum + '_title'}`).prop("readonly", true);
                $(`#${qnum + '_count'}`).prop("readonly", true);
                $(`#${qnum + '_info'}`).prop("readonly", true);
                $(`#${qnum + '_text'}`).prop("readonly", true);
                // now we loop through all the individual options and disable those
                for (let each_opt = 0; each_opt < opnum; each_opt++) {
                    $(`#${qnum + '_op_' + each_opt}`).prop("readonly", true);
                };
                // hide the save button itself for this question
                $(this).remove();
                // increse the question number counter for the next ques
                // you can only create a new qustion once you have saved the old one
                qnum += 1;
                opnum = 0;
                unsaved_ques = false;
            });

            $(document).on('click', "#create_opts", function () {
                // add this line to the current question numbers options div
                option_template = `<li><input type="text" name="${qnum + '_op_' + opnum}" id="${qnum + '_op_' + opnum}" placeholder="Enter Option Label"></li>`;
                // increase opnum for next option that will be created
                $(`#${qnum + '_opts'}`).prepend(option_template);
                opnum += 1;
            });

            $(document).on('click', "#create_text_opts", function () {
                // add this line to the current question numbers options div
                option_template = `<li><input type="text" name="${qnum + '_txtop_' + opnum}" id="${qnum + '_op_' + opnum}" placeholder="Enter Option Label">:<input type="text" disabled></li>`;
                // increase opnum for next option that will be created
                $(`#${qnum + '_opts'}`).prepend(option_template);
                opnum += 1;
            });

        })
    </script>
</body>

</html>