<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <link rel="stylesheet" href="/css/widgets.css">
    <title>this is da page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <%- include('../partials/navbar', {action:"logout", home:"adminhome"}) %>
    <div id="content">

        <h2 class="sub-header">Survey Details</h2>
        <div class="widget">

            <div class="widget_cont">
                <div class="title"><span class="label"></span><%= survey_info.title %>
                </div>
                <div class="widget_top" style="justify-content: space-around; margin-top: 10px;">
                    <div class="info"><span class="label">Publication Status:&nbsp;</span><%= survey_info.is_published %></div>
                    <div class="expiry"><span class="label">Expiry date:&nbsp;</span><%= survey_info.expiry_date %></div>
                </div>
                <form method="POST" action="/adminhome/study/<%= study_id %>/survey/<%= survey_id %>" id="update_survey">
                <div class="widget_top" style="justify-content: space-around; margin-top: 10px;">
                    <div class="info"><span class="label">Update status to publish or repeal a survey:&nbsp;</span><br><input type="text" name="is_published"
                        placeholder="enter a new status"></div>
                    <div class="expiry"><span class="label">Enter a new expiry date:&nbsp;</span><input type="text" name="expiry_date" placeholder="YYYY-MM-DD"></div>
                </div>
                </form>

            </div>
        </div>
        <div id="button_wrap" style="display: flex; justify-content: space-around;">
        <input type="submit" value="Update Survey" form="update_survey" class="action_btn">

        <!-- this is because you can only delete a survey if it not published  -->
        <% if (survey_info.is_published === 0 ) { %>
        <form id="delete_surv" method="GET" action="/adminhome/study/<%= study_id %>/">
            <button class="action_btn" type="submit" value="Delete">Delete this Survey</button>
        </form>

        <form id="reset_surv">
            <button class="action_btn" type="submit" value="Reset">Reset this Survey</button>
        </form>
        <% } %>
    </div>
    </div>
    <script>
        $(document).ready(function () {

            $("#update_survey").submit(function (event) {
                // if none of the feilds have an updated value then we dont make a post request
                form_data = $(this).serializeArray();
                stop_event = true;
                for (const peice of form_data) {
                    if (peice.value != "") {
                        stop_event = stop_event && false;
                    }
                }
                if (stop_event) {
                    event.preventDefault();
                }
            })

            $("#reset_surv").submit(function (event) {
                // we send a post request using ajax to reset the survey then we check its response to see if it succeeded or failed
                result = $.post("/reset/survey/<%= survey_id %>");
                event.preventDefault();
            })

            $("#delete_surv").click(function (event) {
                // we send a post request using ajax to reset the survey then we check its response to see if it succeeded or failed
                reset = $.post("/reset/survey/<%= survey_id %>", function (data, textStatus) {
                    if (data != "OK") {
                        // show message on screen saying reset of survey before deletion failed
                        console.error("Reset before delete failed, aborting message:", textStatus);
                    } else {
                        // the reset was successfull so now send the post request to actaully delete the survey
                        del = $.post("/delete/survey/<%= survey_id %>", function (data, textStatus) {
                            if (data != "OK") {
                                // show message on dom saying there was a fail
                                console.error("survey data was reset but deletion failed", textStatus);
                            } else {
                                // take the user away to a differnet page
                                window.location.href = "/adminhome/study/<%= study_id %>/";
                            }
                        }).fail(function (d, textStatus, error) {
                            console.error("Delete failed, aborting message:", textStatus);
                        });
                    }
                }).fail(function (d, textStatus, error) {
                    console.error("Reset before delete failed, aborting message:", textStatus);
                    console.error(d);
                    console.error(error);
                });
                event.preventDefault();
            })

        })
    </script>
</body>

</html>